/* CSS Document for Screens */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Lora|Philosopher:400,400i,700i|Raleway:800');


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	margin: 0;
	padding: 0;
}

	
/*limiting the with for the pictures so they cant expand more than we want*/
#page {
	max-width: 1200px;
	margin: 0 auto; /*equal to 0 0 auto auto;*/
	position: relative;
}

								/*Text*/
h1 {
	/*it goes: top right bottom left;*/
	/*1em means 1 time the base font in this case is has been set to 16px -+*/
	/*margin: 0 0 1em 0 ;*/
	font-size: 4.3em;
	font-weight: 700;
}

h2 {
	margin: 0 0 .5em 0 ;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.1em;
}

h3 {
	margin: 0 0 .5em 0 ;
	font-size: 1.3em;
	font-weight: 700;
}

h4 {
	margin: 0 0 1.5em 0 ;
	font-size: 1em;
	font-weight: 700;
}

p {
	margin: 0 0 1em 0;  
}

a {
	color: #007eff;
}

/*this is called a sudo-element*/
a:visited {
	color: #65b1ff;
}

a.btn {
	font-size: 1.2em; /*20% larger than base font*/
	text-decoration: none; /*wont have underline*/
	color: #fff;
	/*shorthand border-style*/
	/*width, style, color*/
	border: 1px	solid #fff;
	padding: 4px 15px; /* = to 4px 4px 15px 15px */
	transition: background-color .5s; /*when background-color changes it'll animate*/
}

/*sudo class*/
a.btn:hover {
	background-color: rgba(0, 0, 0, .3);
}



								/*HEADER*/
header {
	height: 660px;
	/*background we use short-hand styling and it goes like this:*/
	/*background color, image, repeat properties, positioning properties*/
	background: url(../images/c.jpg) no-repeat center bottom;
	position: relative; /*relative to the header*/

}

header div.hero {
	position: absolute;
	width: 45%;
	top: 130px;
	left: 50%;		 	 
}

header div.hero h1 {
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Lora', serif;*/
	/*font-family: 'Lobster', cursive;*/
	/*font-family: 'Acme', sans-serif;*/
	/*font-family: 'Philosopher', sans-serif;*/
	line-height: 1em;
	margin: 0 0 .5em 0;
	/*color: #D6E01C;*/
	color: white;
	text-shadow: 3px 3px 2px #000;
	/*color: #18015C;*/
	/*background: linear-gradient(to right, #99f2c8, #99f2c8);*/
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

header div.hero h3.desc {
 	margin: 0 0 2em 0 ;
	font-size: 1.8em;
	line-height: .2em;
	/*font-weight: 700;*/
	color: white;
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Philosopher', sans-serif;*/
	font-style: italic;
	text-shadow: 3px 3px 0px #000;
 }

 header div.hero p.question {	
 	font-size: 2.4em;
 	color: fuchsia;
 	font-weight: 700;
 	font-family: 'Philosopher', sans-serif;
 	font-weight: bold;
 	font-style: italic;
 	text-shadow: 3px 3px 2px #000;
 	/*margin-left: 50px;*/
 	/*margin-top: 150px;*/
 	padding-top: 110px;
 	padding-left: 100px;
 	line-height: 1.4em;
 }


						/*SECTION ALL*/
section {
	padding: 0 30px; /*sections will never touch edges of page*/
}
/*we use :: for sudo elem, and one (:) for sudo classes*/
section::after {
	content: "";
	display: block;
	clear: both; /*clear will make section elem tall enough to clear float items*/
}


						/*SECTION MAIN*/
section.main {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;
} 

section.main aside {
	width: 33%; /*ea aside will have 33% width = 3 columns*/
	float: left; /*asides will line next to ea other*/
	text-align: center;
}

/*div class content*/
section.main .content {
	margin: 15px;
	background: no-repeat center top;
	background-size: 75px 75px; /*svg graphics can be scaled to any size*/
	padding-top: 85px;
}

/*<a> styling section divs*/
section.main aside h3 a {
	color: #000;
	text-decoration: none;
}

section.main aside h3 a:hover {
	text-decoration: underline;
} 		

/*adding graphics to individual elem*/
/*styling tranding class*/
section.main aside .content.trending {
 	background-image: url(../images/fam.svg);
}

section.main aside .content.find-it {
 	background-image: url(../images/hand.png);
}

section.main aside .content.tools {
 	background-image: url(../images/wom.svg);
}


						/*TAB-CONTENT*/



section.tab-content1, .tab-content2, .tab-content3 {
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000000;
	margin-bottom: 30px;
	border-left: 20px solid #5EA9C6;
}

section.tab-content1 article {

}

section.tab-content1 article h2,
section.tab-content2 article h2,
section.tab-content3 article h2 
{
	padding-bottom: 20px;
}

section.tab-content1 article ul {
	margin-bottom: 40px;
}

section.tab-content2 article p.sentence {
	margin-bottom: 40px;
}

section.tab-content3 article p.sentence {
	margin-bottom: 40px;
}




/*section.tab-content2 {
	background-color: lightblue;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000000;
	margin-bottom: 10px;
	border: 1px solid black;
}*/
/*section.tab-content3 {
	background-color: lightblue;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000000;
	margin-bottom: 10px;
	border: 1px solid black;
}*/

/*section.tab-content article {
	will push content inside article 515px away from left-hand side
	padding: 0 20px 0 515px; 
	padding-bottom: 10px;
	min-height: 220px;
}*/



							/*SECTION COUPLES*/

section.atmosphere1 {
	background-color: #43ABC9;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	color: #fff
}

section.atmosphere1 article {
	padding: 0 20px 0 515px; /*will push content inside article 515px away from left-hand side*/
	background: url(../images/couple11.jpg) no-repeat 0 5px;
	/*background: url(../images/photo_lounge.jpg) no-repeat 0 5px;*/
	min-height: 220px;
}

						/*SECTION EXTRA*/

section.extra {
	background-color: #829356;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	color: #fff
}

section.extra article {
	padding: 0 20px 0 515px; /*will push content inside article 515px away from left-hand side*/
	background: url(../images/couple11.jpg) no-repeat 0 5px;
	/*background: url(../images/photo_lounge.jpg) no-repeat 0 5px;*/
	min-height: 220px;
}


							/*SECTION VIDEO*/

section.atmosphere {
	background-color: #cc6633;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff
}

section.atmosphere article {
	/*padding: 0 20px 0 515px; */
	/*will push content inside article 515px away from left-hand side*/
	/*background: url(../images/photo_lounge.jpg) no-repeat 0 5px;*/
	min-height: 220px;
}

iframe {
	padding-right: 20px;
}

							/*SECTION HOW-TO*/
section.how-to {
	background-color: #D3B53D;
	position: relative;
	margin-top: 20px;
}

section.how-to aside {
	width: 30%;
	float: left;
	margin-right: 10px;
}

section.how-to aside .content {
	padding: 30px 30px 20px 0; 
}

section.how-to aside .content img {
	display: block;
	margin-bottom: 15px;
	width: 70%; 
}

section.how-to aside .content h4{
	margin-bottom: 0;
}

section.how-to aside .content p {
	margin-bottom: .5em; 
}

section.how-to aside .content a {
	display: inline-block;
	color: #cc6633;
	font-weight: 700; 
}

section.how-to blockquote {
	margin: 0;
	width: 32%;
	color: #444;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	right: 4%;
}

section.how-to blockquote p {
	margin: 30px 30px 20px 50px;	
}

section.how-to blockquote p.quote {
	font-style: italic;
	font-size: 1.2em;
}

section.how-to blockquote p.credit {
	color: #777;
	font-size: .9em;
	margin-top: 0;
	padding-left: 20px;
	line-height: 1.3em;
	position: relative;
}

/*adding quote marks and dash*/
/*sudo elem*/
section.how-to blockquote::before {
	content: '\201c';
	color: #d2bd65;
	position: absolute;
	top: 10px;
	left: 8px;
	font-size: 5em;
	font-family: serif;
}

section.how-to blockquote p.quote::after {
	content: '\201d';
	font-family: serif;
}

section.how-to blockquote p.credit::before {
	content: '\2014';
	position: absolute;
	top: -1px;
	left: 0;
}

				/*MENU SYSTEM*/
				/*NAVIGATION*/
nav {
	background-color: rgba(0,0,0,.65);
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 20px 0 0 0;
	width: 100%;
}

nav::after {
	content: '';
	display: block;
	clear: both;
}

nav ul {
	list-style: none; /*bullets away*/
	margin: 0;
	padding: 0px;
}

nav ul li:hover {
	background-color: #2b0306;
}

nav ul li:hover > ul {
	display: block; /*show items in menu again*/
}

nav ul li a {
	display: inline-block;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	/*font-size: 1em;*/
	width: 125px;
	position: relative;
}

nav ul li a:visited {
	color: #fff;
}

nav ul li a:hover {
	background-color: #6d0911;
}

nav ul li a:hover {
	background-color: #6d0911;
}


/*hidding sub-menus and show them when hover*/
nav ul ul {
	position: absolute;
	top: 100%;
	background-color: #2b0306;
	display: none; /*hides nested items*/
}

nav ul ul li {
	position: relative;
}

nav ul ul ul {
	left: 100%;
	top: 0px;
}

/*top-level*/
/*this will only target an <ul> if it's inmediatelly the child of the nav elem*/
nav > ul {
	/*padding-left: 200px; */
	/*won't show up over logo anymore*/
}

nav > ul > li {
	float: left;
}

nav > ul > li > a {
	width: auto;
	padding: 10px 20px 15px 20px;
}

/*adding arrows to indicate sub-menus to user*/
/*MAKING A TRIANGLE (ARROW) WITH ONLY CSS*/
nav a[aria-haspopup="true"]::after {
	content: '';
	display: block;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 16px;
	right: 15px;
	/*creating right-pointing arrow*/
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #fff;
}

/*making arrow look down*/
nav > ul > li > a[aria-haspopup="true"]::after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	left: 20px; right: auto;
	bottom: 6px; top: auto;
}

				/*FOOTER*/
footer {
	font-size: .8em;
	margin: 40px;
	color: #999;
}

footer .content {
	display: inline;
}

footer a { 
	margin-left: 30px;
	color: #777;
}

footer a:visited { 
	color: #777;
}

footer a:visited  { 
	color: #000;
}

								/*MEDIA QUERIES*/








/*1000px of width --> SMALL*/
@media screen and (max-width: 1200px) {
	/*this rules will only work when screen is 1000px or less*/
	/*changing size of <h1>*/
	h1 { font-size: 3.2em; }
	/*header*/
	header div.hero { 
		left: 56%; 
	}
	header div.hero h1 { 
		margin-bottom: 20px; 
	}
	header div.hero p.question {
 	font-size: 2.1em;
 	padding-top: 110px;
 	padding-left: 30px;
 	padding-right: 30px;
 	line-height: 1.4em;
 	}
	/*section - Atmosphere*/
	section.atmosphere article {
		/*padding-left: 400px;*/
		/*background-size: 375px auto;*/
	}
}


/*header div.hero h1 {
	font-family: 'Raleway', sans-serif;
	line-height: 1em;
	margin: 0 0 .5em 0;
	color: white;
	text-shadow: 3px 3px 2px #000;
}

header div.hero h3.desc {
 	margin: 0 0 2em 0 ;
	font-size: 2.7em;
	line-height: .2em;
	color: #fff;
	font-family: 'Philosopher', sans-serif;
	font-style: italic;
	text-shadow: 3px 3px 2px #000;
 }

 header div.hero p.question {
 	font-size: 2.1em;
 	color: #43ABC9;
 	font-weight: 700;
 	font-family: 'Philosopher', sans-serif;
 	font-weight: bold;
 	font-style: italic;
 	text-shadow: 3px 3px 2px #000;
 	padding-top: 110px;
 	padding-left: 100px;
 	line-height: 1.4em;
 }*/

/*In order to see when (at what width) we are having problems
with the screen size we have to do it manually (draggin the browser)
then we mesure with screen capture the with of the screen so we know
what width to target*/ 
/*Here, we are havong proble at 720px +-*/








@media screen and (max-width: 843px) {
	/*rules here will work if screen is < 825px*/
	h1 { 
		font-size: 2.7em; 
	}
	/*image in header will change*/
	header { 
		height: 400px;
		background-image: url(../images/c2-825.jpg); 
	}
	header div.hero {
		top: 100px;
		left: %;
	}

	header div.hero h1 {
	font-family: 'Raleway', sans-serif;
	line-height: 1em;
	margin: 0 0 .5em 0;
	color: whit	text-shadow: 3px 3px 2px #000;
	}
	/*header div.hero h3.desc {
 	margin: 0 0 2em 0 ;
	font-size: 1.8em;
	line-height: .2em;
	color: #18015C;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	text-shadow: 3px 3px 0px #fff;
 	}
 	header div.hero p.question {
 	font-size: 2.4em;
 	color: #43ABC9;
 	font-weight: 700;
 	font-family: 'Philosopher', sans-serif;
 	font-weight: bold;
 	font-style: italic;
 	text-shadow: 3px 3px 2px #000;
 	padding-top: 110px;
 	padding-left: 100px;
 	line-height: 1.4em;
 	}*/








	/*section - Atmosphere*/
	section.atmosphere article {
		/*padding-left: 325px;*/
		/*background-size: 300px auto;*/
	}
	section.atmosphere iframe {
		width: 360px;
		height: 240px;
	}
	/*make the learn more button smaller*/
	section.atmosphere article a {
		
	}

	/*section - How To*/
	section.how-to blockquote p.quote {
		font-size: 1.1em;
		line-height: 1.2em;
	}
	section.how-to blockquote p.credit {
		font-size: .85em;
	}
}

@media screen and (max-width: 760px) {
	h1 { font-size: 1.8em; }
	h2 { font-size: 1.4em; }
	h3 { font-size: 1.1em; }
	a.btn { font-size: 1em; }
	/*header a.logo { 
		width: 145px;
		height: 60px; 
	}*/
	
	h1 { 
		font-size: 2.8em; 
	}


	header div.hero {
		top: 100px;
		left: 50%;
	}

	header div.hero h1 {
	/*font-family: 'Raleway', sans-serif;*/
	/*line-height: 1em;*/
	/*margin: 0 0 .5em 2em;*/
	color: whit	text-shadow: 3px 3px 2px #000;
	}







	/*section main*/
	section.main {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	section.main aside div.content{
		background-size: 55px 55px;
		padding-top: 60px;
	}
	/*section how-to*/
	section.how-to aside div.content img {
		width: 85%;
	}
	/*navigation*/
	nav {
		/*padding-top: 30px;*/
		/*font-size: .5em;*/
	}
	nav > ul {
		/*padding-left: 10px;*/
	}
}

@media screen and (max-width: 717px) {
	nav {
		/*padding-top: 30px;*/
		font-size: .8em;
	}

}


/*SMALLER SCREEN DISPLAYS ---> HAND-HELD DEVICES*/
/*WE HAVE TO RESTYLE THE NAVIGATION*/
/*1 COLUMN LAYUOT*/
@media screen and (max-width: 625px) {
	h1 { font-size: 1.4em; }
	h3 { margin-bottom: 0px; }
	a.btn { font-size: .9em; }
	header { 
		height: 160px; /*height of new banner*/
		background-image: url(../images/c-640.jpg);
		/*background-position: left top;*/
	}
	
	header div.hero {
		width: 280px;
		top: 15px;
		left: 220px;
	}
	header div.hero h1 {
		/*margin-bottom: 70px;*/


	}

	/*REARAGING ELEMENTS*/
	/*FOR SMALLER SCREENS WE NEED TO CHANGE AMOUNT OF COLUMNS WE HAVE IN THE MAIN SECTION*/
	/*section main*/
	section.main aside {
		width: 100%;
		float: none;
		text-align: left;
	}

	section.main aside div.content {
		margin: 8px 20px 8px 0;
		padding: 5px 0px 10px 85px;
		background-size: 50px 50px;
		background-position: 20px 5px;
	}

	/*section atmosphere*/
	section.atmosphere article {
		padding: 160px 20px 0px 0px;
		background-size: 300px auto;
		min-height: initial;
	}

	/*section how-to*/
	section.how-to aside {
		width: 100%;
		float: none;
		margin: 0;
		position: relative;
	}
	section.how-to aside div.content {
		padding: 20px 20px 20px 150px;
	}
	section.how-to aside div.content p {
		font-size: .9em;
	}
	section.how-to aside div.content img {
		display: inline-block;
		width: 125px;
		position: absolute;
		top: 30px;
		left: 0px;
	}
	section.how-to aside div.content {
		padding: 20px 20px 20px 150px;
	}
	section.how-to blockquote {
		margin: 0 20px 0 40px;
		width: 90%;
		padding: 1px 0px 20px 0px;
		position: relative;
	}

	section.how-to blockquote p.credit {
		margin-bottom: 0;
	}


	/*navigation*/
	nav {
		position: static;
		width: auto;
		padding: 20px 15px;
		background-color: #4b0a0c; 
	}

	/*we need to define css rules with commas to apply this to a series of elements*/
	nav ul,
	nav ul ul,
	nav ul ul ul {
		display: block;
		position: static; 
	}

	nav > ul {
		padding: 0;
	}

	nav > ul > li {
		float: none;
		margin-top: 25px;
	}

	nav ul li:hover {
		background: none;
	}

	nav ul li a {
		width: auto;
		display: block;
		margin: 8px 10px;
		padding: 8px 15px;
		border: 1px solid rgba(255,255,255,.25);

	}

	nav ul li a:hover {
		background-color: rgba(255,255,255,.2); 
	}

	/*removing backgrpound color on sub list*/
	nav ul ul {
		background: none;
	}

	nav ul ul li a {
		margin-left: 30px;
	}

	nav ul ul ul li a {
		margin-left: 60px;
	}

	/*removing triangles in sub menus*/
	nav a[aria-haspopup="true"]::after {
		display: none;
	}

	/*footer*/
	footer div.content {
		display: block;
		margin-top: 15px;
	}

	footer div.content a {
		margin: 0 20px 0 0;
	}
} 

/*RULES FOE VERY SMALL SCREENS*/
@media screen and (max-width: 425px) {

	/*Header*/
	header {
		height: 110px; /*matches smalles banner pic we have*/
		background-image: url(../images/c-425.jpg); 
	}
	

	header div.hero {
		width: 100%;
		left: 50px;
		top: 20px;
		text-align: center;
	}

	header div.hero h1 {
		font-size: 1.2em;
		/*margin-bottom: 10px;*/
	}


	header div.hero a.btn {
		padding: 2px 30px;
		font-size: .8em;
	}

	header div.hero a.btn span { 
		display: none;
	}

	/*section how-to*/
	section.how-to aside div.content {
		padding: 140px 20px 20px 0px;
	}

	section.how-to aside div.content img {
		width: auto;
		height: 100px;
		top: 30px;
	}

	section.how-to blockquote {
		margin: 10px 40px 0 20px; 
	}

	/*footer*/
	footer::after {
		content: '';
		display: block;
		clear: both;
	}


	footer div.content a {
		display: inline-block;
		margin: 0 0 10px 0;
		float: left;
		clear: both;
	}

}





























